*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin-inline:auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

nav #cartItemsCount {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.container .cartItems {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .cartItems .itemBox {
  width: 250px;
  margin: 20px 0;
  border: 1px solid #000;
  padding: 10px;
}

.container .cartItems .itemBox .quantityPurchased {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .cartItems .itemBox .quantityPurchased button {
  padding: 5px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}

.container .cartItems .itemBox .quantityPurchased button:hover {
  transform: scale(1.1);
}